<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <!--Set this path if you want use TNS aliases as connection strings (recommended)-->
        <setting name="TNS_ADMIN" value="C:\Oracle\product\12.1.0\client_1\Network\Admin" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>

  <appSettings>
    <add key="EnableMailSend" value="true" />
    <add key="SmtpServer" value="smtp.soa.alcoa.com" />
    <add key="SmtpServerPortNumber" value="25" />
    
    <add key="Cache.CacheToUse" value="memory" />
    <add key="Cache.IsCacheEnabled" value="true" />
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:07:00" openTimeout="00:07:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="21474836" maxBufferSize="21474836" maxReceivedMessageSize="21474836" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="21474836" maxArrayLength="21474836" maxBytesPerRead="21474836" maxNameTableCharCount="21474836" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://dev.frameworkalcoa.soa.alcoa.com/SSO.svc" binding="basicHttpBinding" contract="SsoService.ISsoService" name="BasicHttpBinding_ISsoService" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
