<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <wsHttpBinding>
        <binding closeTimeout="00:07:00" openTimeout="00:07:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="21474836" maxReceivedMessageSize="21474836"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="21474836"
            maxArrayLength="21474836" maxBytesPerRead="21474836" maxNameTableCharCount="21474836" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://noaadc-psaweb01.noa.alcoa.com/Alcoa.GAR/GarService.svc"
        binding="wsHttpBinding" contract="GarService.IGarService" name="WSHttpBinding_IGarService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>