<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!-- Change the application name -->
  <variable name="appName" value="Alcoa.Framework" />

  <!-- define log targets -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File"
            name="fileLog"
            createDirs="true"
            layout="${machinename}${newline}${longdate} - ${level:uppercase=true}: ${message}${newline}${exception:format=ToString}"
            fileName="${basedir}/logs/${appName}_${shortdate}.log"
            keepFileOpen="false"
            />

    <!-- log message to event log -->
    <target xsi:type="EventLog"
            name="eventLog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"
            />

    <!-- send mail through SMTP server -->
    <target xsi:type="Mail"
            name="mailLog"
            smtpServer="smtp.soa.alcoa.com"
            smtpPort="25"
            enableSsl="false"
            smtpAuthentication="None"
            from="alcoa.log@alcoa.com.br"
            to="luiz.mussa@alcoa.com.br"
            subject="${appName} Log"
            body="${machinename}${newline}${longdate} - ${level:uppercase=true}: ${message}${newline}${exception:format=ToString}"
            addNewLines="true"
            />

    <!--increase the performance counter--> 
    <target xsi:type="PerfCounter"
            name="perfCounterLog"
            categoryName="Log"
            counterName="Log Counter" 
            />
    
    <!-- send mail asynchronously, so that it does not block the calling thread -->
    <wrapper-target xsi:type="AsyncWrapper" name="asyncMail">
      <target-ref name="mailLog"/>
    </wrapper-target>
  </targets>

  <!-- Level hierarchy: Off | Trace | Debug | Info | Warn | Error | Fatal -->
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="eventLog" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="fileLog" />
    <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="mailLog" />
  </rules>
</nlog>